.container {
  display: flex;
  background-color: #ccc;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.video-container {
  width: 70%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  margin: 10px;

  @media (max-width: 768px) {
    width: 90%;
  }

  .video {
    width: 100%;
  }

  &:hover {
    .controls-container {
      transform: translateY(0);
    }
  }
}

.controls-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}

.progress-bar-container {
  height: 10px;
  width: 100%;
  background-color: #000;
  cursor: pointer;

  .progress-bar {
    height: 10px;
    background-color: orangered;
  }
}

.seek-tooltip {
  position: absolute;
  top: -20px;
  right: -5px;
  color: #fff;
  display: none;
}

.progress-bar-container:hover + .seek-tooltip {
  display: inline-block;
}

.controls {
  display: flex;
  padding: 5px;

  button {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;

    &::before {
      content: "\25BA";
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 20px;
      color: #fff;
    }

    &.play::before {
      content: "\25BA";
    }

    &.pause::before {
      content: "\2590\A0\258C";
      font-size: 12px;
    }
  }

  .time-info {
    color: #fff;
  }
}

.comment-container {
  width: 30%;
  box-shadow: 0 0 15px #00000012;
  border: 1px solid rgba(0, 149, 211, 0.3);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  margin: 10px 10px 10px 0;
  max-height: 450px;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 80%;
    max-width: 500px;
  }

  .comment {
    padding: 5px 0;
    display: flex;

    .comment-timestamp {
      min-width: 60px;
      margin: 0 5px 0 0;
    }
  }

  .empty-comments {
    color: #a6a6a6;
    .info {
      font-style: italic;
    }
  }
}
